version: '3.8'

services:
  windiagdoctor:
    build: .
    image: win-diag-doctor:latest
    container_name: wdd-server
    ports:
      - "${WDD_SERVER_PORT:-8093}:8093"
    environment:
      - AI_DASHSCOPE_API_KEY=${AI_DASHSCOPE_API_KEY}

      - WDD_USER_NAME=${WDD_USER_NAME:-admin}
      - WDD_USER_PASSWORD=${WDD_USER_PASSWORD:-admin}

      - WDD_PROBE_CONNECT_KEY=${WDD_PROBE_CONNECT_KEY:-default_connect_key}
    restart: unless-stopped