version: '3.8'

services:
  windiagdoctor:
    build: .
    image: win-diag-doctor:latest
    container_name: wdd-server
    ports:
      - "${WDD_SERVER_PORT:-8093}:8093"
    environment:
      - AI_API_KEY=${AI_API_KEY}
      - AI_BASE_URL=${AI_BASE_URL:-https://dashscope.aliyuncs.com/compatible-mode}
      - AI_CHAT_MODEL=${AI_CHAT_MODEL:-qwen3-max}

      - WDD_USER_NAME=${WDD_USER_NAME:-admin}
      - WDD_USER_PASSWORD=${WDD_USER_PASSWORD:-admin}

      - WDD_PROBE_CONNECT_KEY=${WDD_PROBE_CONNECT_KEY:-default_connect_key}
    restart: unless-stopped